<div class="container mx-auto">
    <ul class="flex">
        <li>
            <a href="#"class="clickable" data-route="/addDaily">Daily</a>
        </li>
        <li >
            <a href="#" class="clickable" data-route="/addWeekly">Weekly</a>
        </li>
        <li>
            <a href="#" class="clickable" data-route="/addMonthly">Monthly</a>
        </li>
    </ul>
</div>
<br>
<div class="addDaily">
    <div>
        <label>04:00 - 05:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task45"/>
    </div>
    <br>
    <div>
        <label>05:00 - 06:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task56"/>
    </div>
    <br>
    <div>
        <label>06:00 - 07:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task67"/>
    </div>
    <br>
    <div>
        <label>07:00 - 08:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task78"/>
    </div>
    <br>
    <div>
        <label>08:00 - 09:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task89"/>
    </div>
    <br>
    <div>
        <label>09:00 - 10:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task910"/>
    </div>
    <br>
    <div>
        <label>10:00 - 11:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task1011"/>
    </div>
    <br>
    <div>
        <label>11:00 - 12:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task1112"/>
    </div>
    <br>
    <div>
        <label>12:00 - 13:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task1213"/>
    </div>
    <br>
    <div>
        <label>13:00 - 14:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task1314"/>
    </div>
    <br>
    <div>
        <label>14:00 - 15:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task1415"/>
    </div>
    <br>
    <div>
        <label>15:00 - 16:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task1516"/>
    </div>
    <br>
    <div>
        <label>16:00 - 17:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task1617"/>
    </div>
    <br>
    <div>
        <label>17:00 - 18:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task51718"/>
    </div>
    <br>
    <div>
        <label>18:00 - 19:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task61819"/>
    </div>
    <br>
    <div>
        <label>19:00 - 20:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task1920"/>
    </div>
    <br>
    <div>
        <label>20:00 - 21:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task2021"/>
    </div>
    <br>
    <div>
        <label>21:00 - 22:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task2122"/>
    </div>
    <br>
    <div>
        <label>22:00 - 23:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task2223"/>
    </div>
    <br>
    <div>
        <label>23:00 - 00:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task2300"/>
    </div>
    <br>
    <div>
        <label>00:00 - 01:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task0001"/>
    </div>
    <br>
    <div>
        <label>01:00 - 02:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task0102"/>
    </div>
    <br>
    <div>
        <label>02:00 - 03:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task0203"/>
    </div>
    <br>
    <div>
        <label>03:00 - 04:00</label>
        &nbsp;
        <input type="text" (keyup)="onKey($event)" name="task0304"/>
    </div>
    
</div>
<br>
<div class="btn">
    <button>Add</button>

</div>
