<!-- header -->
<header>
  <div class="header">
    <p>
        TaskMe
    </p>
</div>
</header>

<div class="content">
<router-outlet></router-outlet>
</div>

<footer>
  <div class="footer">
    <a routerLink="/" routerLinkActive="active">
        <img src="../../assets/Images/home.png" alt="Footer Image">
    </a>
    <a routerLink="/view" routerLinkActive="active">
      <img src="../../assets/Images/view.png" alt="Footer Image">
    </a>
    <a routerLink="/addDaily" routerLinkActive="active">
      <img src="../../assets/Images/add.png" alt="Footer Image">
    </a>
    <a routerLink="/history" routerLinkActive="active">
      <img src="../../assets/Images/history.png" alt="Footer Image">
    </a>
    <a routerLink="/summary" routerLinkActive="active">
      <img src="../../assets/Images/summary.png" alt="Footer Image">
    </a>
</div>

</footer>
