<div class="container mx-auto">
    <ul class="flex">
        <li>
            <a href="#"class="clickable" data-route="/addDaily">Daily</a>
        </li>
        <li >
            <a href="#" class="clickable" data-route="/addWeekly">Weekly</a>
        </li>
        <li>
            <a href="#" class="clickable" data-route="/addMonthly">Monthly</a>
        </li>
    </ul>
</div>
<br>
<div class="addWeekly">
    <label for="daySelect">Day :</label>
    <select id="daySelect">
        <option value="monday">Monday</option>
        <option value="tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
        <option value="friday">Friday</option>
        <option value="saturday">Saturday</option>
        <option value="sunday">Sunday</option>
    </select>
    <br>
    <label> Time </label>
    <!-- <timepicker [(ngModel)]="gfg"></timepicker>  -->
      
    
    <br>
    <br>
    <label>From :</label>
    <br>
    <br>
    <label>To :</label>
</div>
<p> weekly</p>