.container {
    width: 100%; 
    text-align: center;
  }
  
  ul.flex {
    display: flex; 
    list-style-type: none;
    padding: 0; 
    justify-content: center;
  }
  
  ul.flex li {
    margin-right: 100px; 
  }
  
  ul.flex li:last-child {
    margin-right: 0; 
  }
  
  ul.flex li a {
    font-size: 30px; 
    text-decoration: none; 
    color: #333; 
  }

  .red-text{
    color: red !important;
  }